name: quiz_app
description: Eine KI-generierte Quiz App.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  # Deine Pakete
  flutter_riverpod: ^2.5.1
  http: ^1.2.1
  google_fonts: ^6.2.1
  json_annotation: ^4.9.0
  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true